<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLIpedia</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/icons/bootstrap-icons.css" />
    <style>
        .card-img-top {
            height: 300px;
            width: 100%;
            object-fit: scale-down;
        }

        :root {
            --bs-primary: #8d97b2;
            --bs-secondary: #505e86;
        }

        .btn-primary {
            background-color: var(--bs-primary) !important;
            border-color: var(--bs-primary) !important;
        }

        .btn-primary:hover {
            background-color: var(--bs-secondary) !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid container">
            <a class="navbar-brand" href="/">
                <img src="/static/logo.png" alt="" width="30%" height="30%" class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>

    <div class="container">

        <form class="mt-4" method="post" action="/group-edit/debian">
            <!-- Group name -->
            <div class="mb-3">
                <label for="groupNameInput" class="form-label">Group name</label>
                <input name="group_name" type="text" class="form-control" id="groupNameInput"
                    aria-describedby="groupNameHelp" value="Prefilled group name">
                <div id="groupNameHelp" class="form-text">Name of the new group.</div>
            </div>

            <!-- Group icon link -->
            <div class="mb-3">
                <label for="groupIconLinkInput" class="form-label">Group icon link</label>
                <input name="group_image_link" type="url" class="form-control" id="groupIconLinkInput"
                    aria-describedby="groupIconLinkHelp" value="https://prefilled-group-image/image.png">
                <div id="groupIconLinkHelp" class="form-text">It should start with http://... or https://...</div>
            </div>

            <!-- Group description -->
            <div class="mb-3">
                <label for="groupDescriptionInput" class="form-label">Group description</label>
                <textarea name="group_description" class="form-control" id="groupDescriptionInput"
                    aria-describedby="groupDescriptionHelp" rows="5">Prefilled group description.</textarea>
                <div id="groupDescriptionHelp" class="form-text">Small description about the group.</div>
            </div>

            <div class="d-flex justify-content-between mb-4">
                <button type="submit" class="btn btn-primary">Edit Group</button>

                <a href="/group-delete/debian" class="btn btn-outline-danger align-self-center">
                    <i class="bi bi-trash-fill"></i> Delete
                </a>
            </div>
        </form>
    </div>
</body>

</html>